---
- name: Ensure VSCode root directory exists
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/Library/Application Support/Code/User"
    state: directory
    mode: "0755"

- name: Copy VSCode settings.json
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/dotfiles/vscode/settings.json"
    dest: "{{ ansible_user_dir }}/Library/Application Support/Code/User/settings.json"
    mode: "0644"

- name: Copy VSCode keybindings.json
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/dotfiles/vscode/keybindings.json"
    dest: "{{ ansible_user_dir }}/Library/Application Support/Code/User/keybindings.json"
    mode: "0644"

- name: Copy Zed settings.json
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/dotfiles/zed/settings.json"
    dest: "{{ ansible_user_dir }}/.config/zed/settings.json"
    mode: "0644"

- name: Notify user of successful configuration
  ansible.builtin.debug:
    msg: "Zed configuration successfully deployed!"

- name: Replace .zshrc with custom configuration
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/dotfiles/.zshrc"
    dest: "{{ ansible_user_dir }}/.zshrc"
    mode: "0644"

- name: Notify user of successful configuration
  ansible.builtin.debug:
    msg: "Zsh configuration successfully deployed!"

- name: Replace Aerospace with custom configuration
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/dotfiles/aerospace.toml"
    dest: "{{ ansible_user_dir }}/.config/aerospace/aerospace.toml"
    mode: "0644"

- name: Notify user of successful configuration
  ansible.builtin.debug:
    msg: "Aerospace configuration successfully deployed!"

- name: Replace kitty.conf with custom configuration
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/dotfiles/kitty.conf"
    dest: "{{ ansible_user_dir }}/.config/kitty/kitty.conf"
    mode: "0644"

- name: Notify user of successful configuration
  ansible.builtin.debug:
    msg: "Kitty configuration successfully deployed!"

- name: Replace kitty.conf with custom configuration
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/dotfiles/starship.toml"
    dest: "{{ ansible_user_dir }}/.config/starship.toml"
    mode: "0644"

- name: Notify user of successful configuration
  ansible.builtin.debug:
    msg: "Kitty configuration successfully deployed!"
