---
- name: Ensure git is installed
  ansible.builtin.package:
    name: git
    state: present

- name: Clone Mono (Tesouro)
  ansible.builtin.git:
    repo: git@github.com-perso:Stephane-Pires/mono.git
    dest: "{{ ansible_env.HOME }}/Documents/Projects/mono"
    version: "main"

- name: Set permissions for the cloned directory
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/Documents/Projects/mono"
    state: directory
    mode: "0755"
    recurse: true

- name: Clone Abracadabra
  ansible.builtin.git:
    repo: git@github.com-perso:Stephane-Pires/abracadabra.git
    dest: "{{ ansible_env.HOME }}/Documents/Projects/abracadabra"
    version: "main"

- name: Set permissions for the cloned directory
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/Documents/Projects/abracadabra"
    state: directory
    mode: "0755"
    recurse: true

- name: Clone Caravel
  ansible.builtin.git:
    repo: git@github.com-perso:Stephane-Pires/caravel.git
    dest: "{{ ansible_env.HOME }}/Documents/Projects/caravel"
    version: "main"

- name: Set permissions for the cloned directory
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/Documents/Projects/caravel"
    state: directory
    mode: "0755"
    recurse: true

- name: Clone Obsidian
  ansible.builtin.git:
    repo: git@github.com-perso:Stephane-Pires/obsidian.git
    dest: "{{ ansible_env.HOME }}/Documents/Obsidian"
    version: "main"

- name: Set permissions for the cloned directory
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/Documents/Projects/abracadabra"
    state: directory
    mode: "0755"
    recurse: true
